<ion-header>
  <ion-toolbar color="haderColor" style="height: 400px">
    <!-- <ion-title>
      QR Code
    </ion-title>
    <ion-buttons start>
      <button ion-button (tap)="dismiss()">
        <span ion-text color="white" showWhen="ios">Text here</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="content" scroll="true" overflow-scroll="true" padding>
  <ion-button [routerLink]="['/home']">Cancel</ion-button>
</ion-content>